<nav class="navbar  navbar-expand-lg navbar-dark bg-dark" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="/">Pets Clinic</a>

    <div class="collapse navbar-collapse justify-content-around" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/registration}">Registration</a>
            </li>
            <li class="nav-item"
                th:classappend="${#httpServletRequest.getRequestURI() == '/users/profile' ? 'active':''}"
                sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/users/profile}">Profile</a>
            </li>
            <li class="nav-item"
                th:classappend="${#httpServletRequest.getRequestURI() == '/issues' ? 'active':''}"
                sec:authorize="hasRole('DOCTOR')">
                <a class="nav-link" th:href="@{/issues}">Issues</a>
            </li>
            <li class="nav-item"
                th:classappend="${#httpServletRequest.getRequestURI() == '/works' ? 'active':''}"
                sec:authorize="hasRole('DOCTOR')">
                <a class="nav-link" th:href="@{/works}">Works</a>
            </li>
            <li class="nav-item"
                th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active':''}"
                sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
        </ul>
        <div class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Sign In</a>
        </div>
        <div class="nav-item text-white" sec:authorize="isAuthenticated()">
            <div sec:authentication="name"></div>
        </div>
        <div class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>