<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets Clinic</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<th:block th:include="/navbar/navbar">nav</th:block>
<div class="container">
    <div class="d-inline-block p-5 ml-auto mr-auto">
        <h5 class="mb-5">Make an appointment with a doctor</h5>

        <form class="w-50" id="recordsForm" th:action="@{/issues}">
            <div class="form-group">
                <label for="doctorsFormControlSelect">Doctors</label>
                <select class="form-control" name="doctorId" id="doctorsFormControlSelect">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="petsFormControlSelect">Kind of pet</label>
                <select class="form-control" name="kindOfPetId" id="petsFormControlSelect">
                    <option></option>
                </select>
            </div>
            <div class="form-group" id="descriptionGroup">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"
                          placeholder="Description your issue"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Records</button>
        </form>
    </div>

    <section class="bg-light" id="Doctors">
        <div class="p-5">
            <h2 class="text-center">About US</h2>

            <p class="text-center mb-5 mt-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
            <div class="about-content">
                <p class="about-content-item">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy
                    eirmod
                    tempor invidunt ut labore
                    et
                    dolore
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita
                    kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore
                    aliquyam
                    erat.
                    Lorem ipsum dolor sit amet. Lorem ipsum eat.</p>
                <p class="about-content-item">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy
                    eirtempor
                    invidunt ut labore et
                    dolore
                    aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd
                    gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat.
                    Loreipsum
                    dolor sit amet. Lorem ipsum dolor et.</p>
            </div>
            <div class="about-media-content" style="overflow: hidden">
                <div class="slider-wrapper d-flex">
                    <div class="about-item">
                        <img src="https://nationwide-energy.co.uk/wp-content/uploads/2017/07/blank-avatar.jpg"
                             alt="void">
                        <p class="about-name"></p>
                        <p class="about-speciality"></p>
                    </div>
                    <div class="arrows">
                        <div class="arrow-left slide-left"></div>
                        <div class="arrow-right slide-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="bg-dark modal-footer d-block pt-4 pb-3">
    <p class="text-center text-white">© 2021 Pets Clinic</p>
</footer>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>