<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:include="/navbar/navbar">nav</div>
<div class="container bg-light p-5 h-100">
    <div class="form-group mt-5">
        <label for="selected-status"> Select status:</label>
        <select class="form-control" id="selected-status">
            <option>All</option>
            <option th:each="status : ${T(com.defaultvalue.petsclinic.issue.StatusIssue).values()}"
                    th:value="${status}" th:text="${status.getValue}"></option>
        </select>
    </div>

    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Pet</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody id="issue-table">
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-ite"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/pagination/pagination.js}"></script>
<script th:src="@{/js/works.js}"></script>
</body>
</html>