<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of New Issues</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:include="/navbar/navbar">nav</div>
<div class="container bg-light pt-5 pb-lg-5 h-100">
    <h2>List of new Issue</h2>

    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Pet</th>
            <th scope="col">Take the Issue</th>
        </tr>
        </thead>
        <tbody id="issue-table">
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-ite"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<div th:insert="/footer/footer"></div>
<script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/issue/list-issues.js}"></script>
<script th:src="@{/js/pagination/pagination.js}"></script>
</body>
</html>